@tailwind base;

@tailwind components;

@tailwind utilities;

.content p {
	@apply my-6;
}

.content ul {
	@apply my-6;
}

/* Reset button of Antd because Tailwind conflict */
.ant-btn-primary {
	background: #1677ff;
}

.anticon {
	vertical-align: middle;
}

.ant-layout .ant-layout-sider-light .ant-layout-sider-zero-width-trigger {
	top: 4px;
	z-index: 101;
}

.ant-menu-inline .ant-menu-item {
	width: 100%;
}

.ant-table-wrapper .ant-table.ant-table-small,
.ant-table-wrapper .ant-table.ant-table-small th,
.ant-table-wrapper .ant-table.ant-table-small td,
.ant-table-wrapper .ant-table.ant-table-small span,
.ant-table-wrapper .ant-table.ant-table-small li {
	font-size: 12px;
}

a {
	color: #1668dc;
}
