@tailwind base;

@tailwind components;

@tailwind utilities;

.content p {
	@apply my-6;
}

.content ul {
	@apply my-6;
}

/* Reset button of Antd because Tailwind conflict */
.ant-btn-primary {
	background: #1677ff;
}

.anticon {
	vertical-align: middle;
}

.ant-layout .ant-layout-sider-light .ant-layout-sider-zero-width-trigger {
	top: 4px;
	z-index: 101;
}
